mat-card {
    margin: 20px;
    padding: 20px;
    max-width: 20%;
    min-width: 25%;
    height: auto;
}

img {
    margin: 0 auto;
    width: 80%;
    height: auto;
}

p {
    text-align: center;
}