<form style="padding:5px;">
    <mat-form-field>
        <mat-label>Rechercher un pokémon</mat-label>
        <input #searchBox matInput placeholder="Nom ou numéro" (input)="search(searchBox.value)">
    </mat-form-field>
</form>

<mat-nav-list class="scroll-holder" infiniteScroll (scrolled)="onScroll()" [scrollWindow]="false">
        <mat-list-item *ngFor="let poke of pokemons" (click)="onClick(poke.id)">
        <img matListAvatar src="assets/img/sprites/{{ poke.id }}.png" alt="{{ poke.name | lowercase }}">
        <p matLine>
            <span>{{ poke.id }}. </span>
            <span> {{ poke.name }}</span>
        </p>
    </mat-list-item>
</mat-nav-list>