<h2>Liste des pokémons:</h2>
<div>
    <mat-card infinite-scroll (scrolled)="onScroll()">
        <mat-list *ngFor="let poke of pokemons">
            <a routerLink="/pokedex/{{ poke.id }}">
                <mat-list-item>
                    <img matListAvatar src="assets/img/sprites/{{ poke.id }}.png" alt="{{ poke.name | lowercase }}">
                    <p matLine>
                        <span>{{ poke.id }}. </span>
                        <span> {{ poke.name }}</span>
                    </p>
                </mat-list-item>
            </a>
        </mat-list>
    </mat-card>
</div>