a {
    display: inherit;
    text-decoration: none;
    color: #fff
}

a>p {
    margin: auto;
    padding: 0 15px 0 0;
}

a:hover {
    background-color: #353535;
}

.scroll-holder {
    height: calc(100% - 75px);
    overflow: auto;
}